/* Reset some default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
/* Timer style */

#timer-container {
  text-align: center;
}

.timer-label {
  font-size: 25px;
  color: #333;
}

.timer{
  font-size: 36px;
  
  padding: 10px; 
}
/* Center the main content */
#quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1{
  text-align: center;
  color: #333;
}

/* Instructions styles */
#instructions {
  text-align: center;
  margin-bottom: 20px;
}

/* Start Quiz button styles */
#start-quiz-btn {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit-btn {
  /* display: hidden; */
  margin: 20px auto; /* Add space around the button */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #0056b3;
}

#start-quiz-btn:hover {
  background-color: #0056b3;
}
/* CSS to hide elements with the "hidden" class */
.hidden {
  display: none;
}


.question-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

/* Style for the result container */
#result-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 60vh; /* Set a fixed width */
  height: 20vh; /* Set a fixed height */
  margin: 0 auto; /* Center the container horizontally */
}
#result-container h2 {
  color: #333;
  font-size: 24px;
}

#score {
  color: #007bff; /* Score color */
  font-size: 36px;
  font-weight: bold;
}

/* Center the score text */
#score {
  display: inline-block;
  margin-top: 10px;
}


/* Style for the end message */
#end-message {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}